html,
body {
  height: 100%;
  font-family: "Heebo";
  transition: background-color 0.5s ease;
}

main {
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#dashboard {
  border-top: none;
  flex-grow: 1;
  height: 100%;
  width: 80%;
}
