:root {
  --bg-light-mode-color: #ffffff;
  --bg-dark-mode-color: #21313c;
  --font-dark-mode-color: #ffffff;
}
html,
body {
  height: 100%;
  font-family: "Heebo";
  transition: background-color 0.5s ease;
}

main {
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

/* Body */
.body-content {
  display: flex;
}

/* Chart */
#chart {
  border-top: none;
  flex-grow: 1;
  height: 100%;
  width: 80%;
}

/* Chart Info */
.chartInfo {
  font-size: 20px;
  width: 520px;
}

.chart-title {
  text-align: center;
  color: #89989b;
}

.details {
  color: #89989b;
  margin-bottom: 15px;
}

#applyRenderingSpec {
  margin-top: 1em;
  padding: 0.5rem 1rem;
  width: 100%;
}

form#rendering-spec {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

form#rendering-spec div {
  width: 100%;
}

label,
input {
  width: 100%;
  margin-bottom: 20px;
}
