:root {
  --bg-light-mode-color: #ffffff;
  --bg-dark-mode-color: #21313c;
  --font-dark-mode-color: #ffffff;
}
html,
body {
  height: 100%;
  font-family: "Heebo";
  transition: background-color 0.5s ease;
}

span {
  white-space: pre;
}

th {
  font-weight: bold;
  color: #89989b;
  text-align: right;
}

td {
  padding-left: 20px;
}

main {
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Navigation Bar */
#nav {
  flex-shrink: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #89989b;
}

#nav button,
#nav select {
  font-size: 1.1rem;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.theme-label {
  line-height: 35px;
  padding-left: 10px;
}

.dark-mode {
  background-color: var(
    --bg-dark-mode-color
  ); /* to match the chart's background */
  color: var(--font-dark-mode-color);
}

body span.theme-label::before {
  content: "☀️";
}

body.dark-mode span.theme-label::before {
  content: "🌙";
}

/* Body */
.body-content {
  display: flex;
}

/* Chart */
#chart {
  border-top: none;
  flex-grow: 1;
  height: 100%;
  width: 80%;
}

/* Chart Info */
.chartInfo {
  font-size: 20px;
  width: 520px;
}

.chart-title {
  text-align: center;
  color: #89989b;
}

#chartDataButton {
  margin-top: 1em;
  padding: 0.5rem 1rem;
  width: 100%;
}

/* JSON Viewer */
#jsonViewer {
  visibility: hidden;
  transition: background-color 0.5s ease;
  --background-color: var(--bg-light-mode-color);
  --string-color: #00a35c;
  --preview-color: #ffc010;
  --property-color: #0498ec;
  --number-color: #b45af2;
  --boolean-color: #ef5752;
}

body.dark-mode #jsonViewer {
  --background-color: var(--bg-dark-mode-color);
  --string-color: #00ed64;
  --preview-color: #ffec9e;
}
