.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ebf1f5;
}

.slider {
  margin: 50px 50px 0;
}

.charts {
  display: flex;
  justify-content: space-evenly;
  margin: 0 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid lightgray;
}

button {
  background-color: transparent;
}

.actions {
  margin: 1% 3%;
}

.action-button {
  border: 0;
  cursor: pointer;
  background-size: cover;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  outline: none;
}

.play-button {
  background-image: url("/play.png");
}

.pause-button {
  background-image: url("/pause.png");
}

.charts {
  height: 100%;
  max-height: 850px;
  background-color: white;
  margin: 1% 3%;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
}

#columnChart {
  width: 42%;
  max-height: 850px;
}

#geoChart {
  width: 55%;
  max-height: 850px;
}
