html,
body {
  font-family: "Heebo";
  transition: background-color 0.5s ease;
}

.body-content {
  display: flex;
}
.chart {
  flex: 1;
  width: 50%;
  height: 100%;
}

.infoBox {
  flex: 1;
  width: 50%;
  height: 100%;
}

#payload {
  font-family: Consolas, 'Courier New', Courier, monospace
}
